Part1/resume.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Resume" type="ResumeType"/>
  <xs:complexType name="ContactInfoType">
    <xs:sequence>
      <xs:element type="NameType" name="Name"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="NameType">
    <xs:sequence>
      <xs:element type="xs:string" name="First"/>
      <xs:element type="xs:string" name="Last"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ResumeType">
    <xs:sequence>
      <xs:element type="ContactInfoType" name="ContactInfo"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>